In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import csv
import sqlite3

In [2]:
sales = pd.read_csv("Sample-Superstore.csv")
df = sales

In [3]:
df.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df[(df["Category"]=='Furniture') & (df["Sub-Category"]=='Chairs')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.940,3,0.0,219.5820
23,24,US-2017-156909,7/16/2017,7/18/2017,Second Class,SF-20065,Sandra Flanagan,Consumer,United States,Philadelphia,...,19140,East,FUR-CH-10002774,Furniture,Chairs,"Global Deluxe Stacking Chair, Gray",71.372,2,0.3,-1.0196
39,40,CA-2015-117415,12/27/2015,12/31/2015,Standard Class,SN-20710,Steve Nguyen,Home Office,United States,Houston,...,77041,Central,FUR-CH-10004218,Furniture,Chairs,"Global Fabric Manager's Chair, Dark Gray",212.058,3,0.3,-15.1470
52,53,CA-2015-115742,4/18/2015,4/22/2015,Standard Class,DP-13000,Darren Powers,Consumer,United States,New Albany,...,47150,Central,FUR-CH-10003061,Furniture,Chairs,"Global Leather Task Chair, Black",89.990,1,0.0,17.0981
57,58,CA-2016-111682,6/17/2016,6/18/2016,First Class,TB-21055,Ted Butterfield,Consumer,United States,Troy,...,12180,East,FUR-CH-10003968,Furniture,Chairs,Novimex Turbo Task Chair,319.410,5,0.1,7.0980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9893,9894,US-2016-115441,7/25/2016,7/28/2016,Second Class,SH-19975,Sally Hughsby,Corporate,United States,Milwaukee,...,53209,Central,FUR-CH-10004626,Furniture,Chairs,Office Star Flex Back Scooter Chair with Alumi...,403.560,4,0.0,96.8544
9907,9908,US-2015-129007,9/13/2015,9/15/2015,First Class,KD-16615,Ken Dana,Corporate,United States,Anaheim,...,92804,West,FUR-CH-10000155,Furniture,Chairs,Global Comet Stacking Armless Chair,717.720,3,0.2,71.7720
9912,9913,CA-2015-132388,10/10/2015,10/12/2015,First Class,KN-16390,Katherine Nockton,Corporate,United States,Santa Barbara,...,93101,West,FUR-CH-10001714,Furniture,Chairs,"Global Leather & Oak Executive Chair, Burgundy",362.136,3,0.2,-54.3204
9919,9920,CA-2016-149272,3/15/2016,3/19/2016,Standard Class,MY-18295,Muhammed Yedwab,Corporate,United States,Bryan,...,77803,Central,FUR-CH-10000863,Furniture,Chairs,Novimex Swivel Fabric Task Chair,528.430,5,0.3,-143.4310
9947,9948,CA-2017-121559,6/1/2017,6/3/2017,Second Class,HW-14935,Helen Wasserman,Corporate,United States,Indianapolis,...,46203,Central,FUR-CH-10003746,Furniture,Chairs,Hon 4070 Series Pagoda Round Back Stacking Chairs,1925.880,6,0.0,539.2464

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [6]:
Cat = pd.DataFrame(columns=["Category", "SubCategory"])

In [7]:
Cat[["Category","SubCategory"]] = df[["Category","Sub-Category"]]

In [8]:
Cat.count()

Category       9994
SubCategory    9994
dtype: int64

In [9]:
Cat = Cat.drop_duplicates()

In [10]:
Cat = Cat.reset_index()
Cat = Cat.drop(columns=["index"])

In [11]:
Cat["CategoryID"] = Cat.index + 1

In [12]:
Cat = Cat[['CategoryID', 'Category','SubCategory']]

In [13]:
display(Cat)

    CategoryID         Category  SubCategory
0            1        Furniture    Bookcases
1            2        Furniture       Chairs
2            3  Office Supplies       Labels
3            4        Furniture       Tables
4            5  Office Supplies      Storage
5            6        Furniture  Furnishings
6            7  Office Supplies          Art
7            8       Technology       Phones
8            9  Office Supplies      Binders
9           10  Office Supplies   Appliances
10          11  Office Supplies        Paper
11          12       Technology  Accessories
12          13  Office Supplies    Envelopes
13          14  Office Supplies    Fasteners
14          15  Office Supplies     Supplies
15          16       Technology     Machines
16          17       Technology      Copiers

In [14]:
db_conn = sqlite3.connect("P5.db")

In [15]:
c = db_conn.cursor()

In [16]:
c.execute(
"""
    CREATE TABLE Customers (
    CustomerID varchar PRIMARY KEY NOT NULL,
    CustomerName varchar NOT NULL,
    Segment varchar NOT NULL
);""")

c.execute("""
CREATE TABLE Adress (
    AdressID varchar PRIMARY KEY NOT NULL,
    City varchar NOT NULL,
    State varchar NOT NULL,
    Region varchar NOT NULL,
    PostalCode integer NOT NULL
);"""
)

c.execute("""
CREATE TABLE OrderDetails (
    OrderID varchar NOT NULL,
    ODKey integer PRIMARY KEY NOT NULL,
    ProductID varchar NOT NULL,
    Quantity integer NOT NULL,
    Sales integer NOT NULL,
    Discount integer NOT NULL,
    Profit integer NOT NULL,
    FOREIGN KEY (OrderID) REFERENCES Orders(OrderID),
    FOREIGN KEY (ProductID) REFERENCES Products(ProductID)
);"""
)

c.execute("""
CREATE TABLE Products (
    ProductID varchar PRIMARY KEY NOT NULL,
    CategoryID varchar NOT NULL,
    SupplierPrice integer NOT NULL,
    CataloguePrice integer NOT NULL,
    ProductName varchar(200) NOT NULL,
    FOREIGN KEY (CategoryID) REFERENCES Category(CategoryID)
);"""
)

c.execute("""
CREATE TABLE Orders (
    OrderID varchar PRIMARY KEY NOT NULL,
    CustomerID varchar NOT NULL,
    OrderDate date NOT NULL,
    AdressID varchar NOT NULL,
    ShipDate date NOT NULL,
    ShipMode varchar NOT NULL,
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID),
    FOREIGN KEY (AdressID) REFERENCES Adress(AdressID)
);"""
)

c.execute("""
CREATE TABLE Category (
    CategoryID varchar PRIMARY KEY NOT NULL,
    Category varchar(20) NOT NULL,
    Subcategory varchar(20) NOT NULL
);"""
)

In [17]:
Cat.to_sql('Category', db_conn, if_exists='append', index=False)

In [16]:
df = df.rename(columns={'Sub-Category': 'SubCategory'})

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  SubCategory    9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [18]:
df = pd.merge(df, Cat, how="left", on=["Category", "SubCategory"])

In [19]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,SubCategory,Product Name,Sales,Quantity,Discount,Profit,CategoryID
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028,6
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332,6
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932,8
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200,11
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480,10

In [20]:
def divide_columns(row):
    if row['Discount'] != 0:
        return row['Sales'] / (1- row['Discount']) / row["Quantity"]
    else:
        return row['Sales'] / row["Quantity"]

In [21]:
df["CataloguePrice"] = df.apply(divide_columns, axis=1)

In [22]:
df.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,SubCategory,Product Name,Sales,Quantity,Discount,Profit,CategoryID,CataloguePrice
9989,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028,6,10.52
9990,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332,6,45.98
9991,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932,8,161.61
9992,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200,11,7.40
9993,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480,10,121.58

In [23]:
df["SupplierPrice"]= (df['Sales'] - df['Profit']) / df["Quantity"]

In [24]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,SubCategory,Product Name,Sales,Quantity,Discount,Profit,CategoryID,CataloguePrice,SupplierPrice
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1,130.98,110.0232
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2,243.98,170.7860
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,3,7.31,3.8743
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,4,348.21,268.1217
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,5,13.98,9.9258

In [25]:
Pro = pd.DataFrame(columns=["ProductID", "CategoryID", "CataloguePrice", "SupplierPrice", "ProductName"])

In [26]:
# Create a product mapping
product_mapping = {product: idx + 1 for idx, product in enumerate(df['Product Name'].unique())}

# Map the 'Product' column to create a 'ProductID' column
df['ProductID'] = df['Product Name'].map(product_mapping)

In [27]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,SubCategory,Product Name,Sales,Quantity,Discount,Profit,CategoryID,CataloguePrice,SupplierPrice,ProductID
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,1,130.98,110.0232,1
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2,243.98,170.7860,2
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,3,7.31,3.8743,3
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,4,348.21,268.1217,4
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,5,13.98,9.9258,5

In [28]:
Pro[["ProductID", "CategoryID", "CataloguePrice", "SupplierPrice", "ProductName"]] = df[["ProductID", "CategoryID", "CataloguePrice", "SupplierPrice", "Product Name"]]

In [29]:
Pro = Pro.drop_duplicates()

In [30]:
Pro = Pro.drop_duplicates(subset=['ProductID', 'CategoryID'], keep='last')

In [31]:
display(Pro)

,ProductID,CategoryID,CataloguePrice,SupplierPrice,ProductName
6,7,7,1.82,1.3286,Newell 322
7,8,8,188.99,136.0728,Mitel 5320 IP Phone VoIP phone
11,12,8,284.82,210.7668,Konftel 250 Conferenceï¿½phoneï¿½- Charcoal black
16,17,5,110.98,108.7604,"Stur-D-Stor Shelving, Vertical 5-Shelf: 72""H x..."
19,20,8,88.95,65.8230,Cisco SPA 501G IP Phone
...,...,...,...,...,...
9952,304,9,34.54,17.2700,Ibico Recycled Grain-Textured Covers
9971,1255,7,28.15,19.7050,"Boston Model 1800 Electric Pencil Sharpener, Gray"
9973,1778,8,67.99,48.9528,Avaya 5410 Digital phone
9979,1759,9,39.06,20.3112,Ibico Recycled Linen-Style Covers
9983,1681,8,48.99,35.2728,Panasonic KX TS208W Corded phone

In [32]:
duplicate_rows = Pro[Pro.duplicated(subset=['ProductID', 'CategoryID'], keep=False)]

display(duplicate_rows.head(20))

Empty DataFrame
Columns: [ProductID, CategoryID, CataloguePrice, SupplierPrice, ProductName]
Index: []

In [33]:
Pro = Pro.sort_values(by="ProductID", ascending=True)

In [34]:
display(Pro)

,ProductID,CategoryID,CataloguePrice,SupplierPrice,ProductName
5399,1,1,130.98,110.0232,Bush Somerset Collection Bookcase
5468,2,2,243.98,170.7860,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
4285,3,3,7.31,3.8743,Self-Adhesive Address Labels for Typewriters b...
8206,4,4,348.21,268.1217,Bretford CR4500 Series Slim Rectangular Table
7371,5,5,13.98,9.9258,Eldon Fold 'N Roll Cart System
...,...,...,...,...,...
9521,1846,8,134.99,95.8429,RCA ViSYS 25425RE1 Corded phone
9562,1847,16,249.93,129.9636,Cisco 8961 IP Phone Charcoal
9604,1848,10,49.43,35.5896,"Eureka Hand Vacuum, Bagless"
9673,1849,8,499.99,374.9925,LG G2
9935,1850,5,15.31,11.0232,Eldon Jumbo ProFile Portable File Boxes Graphi...

In [35]:
Pro=Pro[["ProductID", "CategoryID", "SupplierPrice", "CataloguePrice", "ProductName"]]

In [36]:
Pro

,ProductID,CategoryID,SupplierPrice,CataloguePrice,ProductName
5399,1,1,110.0232,130.98,Bush Somerset Collection Bookcase
5468,2,2,170.7860,243.98,"Hon Deluxe Fabric Upholstered Stacking Chairs,..."
4285,3,3,3.8743,7.31,Self-Adhesive Address Labels for Typewriters b...
8206,4,4,268.1217,348.21,Bretford CR4500 Series Slim Rectangular Table
7371,5,5,9.9258,13.98,Eldon Fold 'N Roll Cart System
...,...,...,...,...,...
9521,1846,8,95.8429,134.99,RCA ViSYS 25425RE1 Corded phone
9562,1847,16,129.9636,249.93,Cisco 8961 IP Phone Charcoal
9604,1848,10,35.5896,49.43,"Eureka Hand Vacuum, Bagless"
9673,1849,8,374.9925,499.99,LG G2
9935,1850,5,11.0232,15.31,Eldon Jumbo ProFile Portable File Boxes Graphi...

In [39]:
Pro.to_sql('Products', db_conn, if_exists='append', index=False)

In [37]:
Odtails = pd.DataFrame(columns=["OrderID", "ProductID", "Quantity", "Sales", "Discount", "Profit"])

In [38]:
Odtails[["OrderID", "ProductID", "Quantity", "Sales", "Discount", "Profit"]] = df[["Order ID", "ProductID", "Quantity", "Sales", "Discount", "Profit"]]

In [39]:
Odtails = Odtails.drop_duplicates(subset=['OrderID', 'ProductID'], keep='last')

In [40]:
Odtails

             OrderID  ProductID  Quantity     Sales  Discount    Profit
0     CA-2016-152156          1         2  261.9600      0.00   41.9136
1     CA-2016-152156          2         3  731.9400      0.00  219.5820
2     CA-2016-138688          3         2   14.6200      0.00    6.8714
3     US-2015-108966          4         5  957.5775      0.45 -383.0310
4     US-2015-108966          5         2   22.3680      0.20    2.5164
...              ...        ...       ...       ...       ...       ...
9989  CA-2014-110422       1159         3   25.2480      0.20    4.1028
9990  CA-2017-121258       1752         2   91.9600      0.00   15.6332
9991  CA-2017-121258        298         2  258.5760      0.20   19.3932
9992  CA-2017-121258        950         4   29.6000      0.00   13.3200
9993  CA-2017-119914        168         2  243.1600      0.00   72.9480

[9986 rows x 6 columns]

In [41]:
Odtails =Odtails.reset_index()
Odtails =Odtails.drop(columns=["index"])

In [43]:
Odtails["ODKey"] = Odtails.index + 1

In [44]:
Odtails=Odtails[["OrderID", "ODKey", "ProductID", "Quantity", "Sales", "Discount", "Profit"]]

In [45]:
Odtails

             OrderID  ODKey  ProductID  Quantity     Sales  Discount    Profit
0     CA-2016-152156      1          1         2  261.9600      0.00   41.9136
1     CA-2016-152156      2          2         3  731.9400      0.00  219.5820
2     CA-2016-138688      3          3         2   14.6200      0.00    6.8714
3     US-2015-108966      4          4         5  957.5775      0.45 -383.0310
4     US-2015-108966      5          5         2   22.3680      0.20    2.5164
...              ...    ...        ...       ...       ...       ...       ...
9981  CA-2014-110422   9982       1159         3   25.2480      0.20    4.1028
9982  CA-2017-121258   9983       1752         2   91.9600      0.00   15.6332
9983  CA-2017-121258   9984        298         2  258.5760      0.20   19.3932
9984  CA-2017-121258   9985        950         4   29.6000      0.00   13.3200
9985  CA-2017-119914   9986        168         2  243.1600      0.00   72.9480

[9986 rows x 7 columns]

In [46]:
Odtails.to_sql('OrderDetails', db_conn, if_exists='append', index=False)